[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Assets-Backend/client-gateway.git
[submodule "coordinator-ms"]
	path = coordinator-ms
	url = https://github.com/Assets-Backend/coordinator-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Assets-Backend/auth-ms.git
[submodule "professional-ms"]
	path = professional-ms
	url = https://github.com/Assets-Backend/professional-ms.git
[submodule "order-ms"]
	path = order-ms
	url = https://github.com/Assets-Backend/order-ms.git
[submodule "community-ms"]
	path = community-ms
	url = https://github.com/Assets-Backend/community-ms.git
