[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Assets-Backend/client-gateway.git
[submodule "coordinator-ms"]
	path = coordinator-ms
	url = https://github.com/Assets-Backend/coordinator-ms.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Assets-Backend/auth-ms.git
